In [1]:
import pandas as pd
# Sample data as per assignment
data = [
    ["CA-1001", "2023-01-15", "Ravi", "Consumer", "South", "Laptop", "Technology", "Computers", 1, 55000, 0.10, 5000],
    ["CA-1002", "2023-02-20", "Priya", "Corporate", "North", "Printer", "Technology", "Peripherals", 2, 12000, 0.15, 1800],
    ["CA-1003", "2023-01-25", "Amit", "Consumer", "East", "Notebook", "Office Supplies", "Paper", 3, 200, 0.05, 150],
    ["CA-1004", "2023-03-01", "Anita", "Home Office", "West", "Table", "Furniture", "Tables", 1, 18000, 0.20, -1500],
    ["CA-1005", "2023-02-05", "Divya", "Consumer", "South", "Phone", "Technology", "Phones", 2, 20000, 0.00, 3000]
]

# Column names
columns = ["OrderID", "OrderDate", "Customer", "Segment", "Region", "Product",
           "Category", "SubCategory", "Quantity", "UnitPrice", "Discount", "Profit"]

In [3]:
df=pd.DataFrame(data,columns=columns)
df.to_csv("superstore.csv",index=False)
print("superstore.csv created successfully")

superstore.csv created successfully

In [4]:
#PART-1
#1
import pandas as pd
df=pd.read_csv("superstore.csv")
df.head()

,OrderID,OrderDate,Customer,Segment,Region,Product,Category,SubCategory,Quantity,UnitPrice,Discount,Profit
0,CA-1001,2023-01-15,Ravi,Consumer,South,Laptop,Technology,Computers,1,55000,0.10,5000
1,CA-1002,2023-02-20,Priya,Corporate,North,Printer,Technology,Peripherals,2,12000,0.15,1800
2,CA-1003,2023-01-25,Amit,Consumer,East,Notebook,Office Supplies,Paper,3,200,0.05,150
3,CA-1004,2023-03-01,Anita,Home Office,West,Table,Furniture,Tables,1,18000,0.20,-1500
4,CA-1005,2023-02-05,Divya,Consumer,South,Phone,Technology,Phones,2,20000,0.00,3000

In [7]:
#2
print("Head:")
print(df.head())
print("\n Shape:")
print(df.shape)
print("\n Data Types:")
print(df.dtypes)
print("\n Info:")
print(df.info())

Head:
   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

 Shape:
(5, 12)

 Data Types:
OrderID         object
OrderDate       object
Customer        object
Segment         object
Region          object
Product         object
Category        object
SubCategory     object
Quantity         int64
UnitPrice        int64
Discount       float64
Profit           int64
dtype: object

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      5 non-null      object
 1   OrderDate    5 non-null      object
 2   Customer     5 non-null      object
 3   Segment      5 non-null      object
 4   Region       5 non-null      object
 5   Product      5 non-null      object
 6   Category     5 non-null      object
 7   SubCategory  5 non-null      object
 8   Quantity     5 non-null      int64
 9   UnitPrice    5 non-null      int64
 10  Discount     5 non-null      float64
 11  Profit       5 non-null      int64
dtypes: float64(1), int64(3), object(8)
memory usage: 612.0+ bytes
None
Head:
   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

 Shape:
(5, 12)

 Data Types:
OrderID         object
OrderDate       object
Customer        object
Segment         object
Region          object
Product         object
Category        object
SubCategory     object
Quantity         int64
UnitPrice        int64
Discount       float64
Profit           int64
dtype: object

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      5 non-null      object
 1   OrderDate    5 non-null      object
 2   Customer     5 non-null      object
 3   Segment      5 non-null      object
 4   Region       5 non-null      object
 5   Product      5 non-null      object
 6   Category     5 non-null      object
 7   SubCategory  5 non-null      object
 8   Quantity     5 non-null      int64
 9   UnitPrice    5 non-null      int64
 10  Discount     5 non-null      float64
 11  Profit       5 non-null      int64
dtypes: float64(1), int64(3), object(8)
memory usage: 612.0+ bytes
None

In [8]:
#3
selected_df=df[["Customer","Product","Profit"]]
print(selected_df)

  Customer   Product  Profit
0     Ravi    Laptop    5000
1    Priya   Printer    1800
2     Amit  Notebook     150
3    Anita     Table   -1500
4    Divya     Phone    3000

In [9]:
#4
filtered_df=df[(df["Profit"]>2000)&(df["Discount"]==0)]
print(filtered_df)

   OrderID   OrderDate Customer   Segment Region Product    Category  \
4  CA-1005  2023-02-05    Divya  Consumer  South   Phone  Technology

  SubCategory  Quantity  UnitPrice  Discount  Profit
4      Phones         2      20000       0.0    3000

In [11]:
#5
sorted_df=df.sort_values(by="Profit",ascending=False)
print(sorted_df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
4       Technology       Phones         2      20000      0.00    3000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500

In [14]:
#6
grouped_df=df.groupby("Category").agg({
    "Profit": "sum",
    "Discount": "mean"
})
grouped_df=grouped_df.rename(columns={"Profit":"TotalProfit","Discount":"AvgDiscount"})
print(grouped_df)

                 TotalProfit  AvgDiscount
Category
Furniture              -1500     0.200000
Office Supplies          150     0.050000
Technology              9800     0.083333

In [15]:
#7
df["TotalPrice"]=df["Quantity"]*df["UnitPrice"]
print(df[["OrderID","Quantity","UnitPrice","TotalPrice"]])

   OrderID  Quantity  UnitPrice  TotalPrice
0  CA-1001         1      55000       55000
1  CA-1002         2      12000       24000
2  CA-1003         3        200         600
3  CA-1004         1      18000       18000
4  CA-1005         2      20000       40000

In [16]:
#8
df=df.drop(columns=["SubCategory"])
print(df.columns.tolist())

['OrderID', 'OrderDate', 'Customer', 'Segment', 'Region', 'Product', 'Category', 'Quantity', 'UnitPrice', 'Discount', 'Profit', 'TotalPrice']

In [17]:
#9
df["Discount"]=df["Discount"].fillna(0.10)
print(df["Discount"].isnull().sum())

0

In [18]:
#10
def classify(row):
    if row['Profit'] > 4000:
        return 'High'
    elif row['Profit'] > 0:
        return 'Medium'
    else:
        return 'Low'
df["ProfitCategory"]=df.apply(classify,axis=1)
print(df[["OrderID","Profit","ProfitCategory"]])

   OrderID  Profit ProfitCategory
0  CA-1001    5000           High
1  CA-1002    1800         Medium
2  CA-1003     150         Medium
3  CA-1004   -1500            Low
4  CA-1005    3000         Medium

In [21]:
#PART-2
#1
from pyspark.sql import SparkSession

# Create a new Spark session (do this once)
spark = SparkSession.builder.appName("SuperstoreAnalysis").getOrCreate()
# Load the CSV file as a Spark DataFrame
df_spark = spark.read.option("header", True).option("inferSchema", True).csv("superstore.csv")

In [22]:
#2
df_spark.show(5)
df_spark.printSchema()

+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+

root
 |-- OrderID: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- Customer: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- SubCategory: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- UnitPrice: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: integer (nullable = true)

In [24]:
#3
from pyspark.sql.functions import col
selected_df=df_spark.select(
    col("Customer").alias("Client"),
    col("Product"),
    col("Profit")
)
selected_df.show()

+------+--------+------+
|Client| Product|Profit|
+------+--------+------+
|  Ravi|  Laptop|  5000|
| Priya| Printer|  1800|
|  Amit|Notebook|   150|
| Anita|   Table| -1500|
| Divya|   Phone|  3000|
+------+--------+------+

In [26]:
#4
filtered_df=df_spark.filter(
    (col("Segment")=="Consumer") & (col("Profit") < 1000)
)
filtered_df.show()

+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer| Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1003|2023-01-25|    Amit|Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+

In [27]:
#5
avg_profit_df=df_spark.groupby("Region").avg("Profit")
avg_profit_df=avg_profit_df.withColumnRenamed("avg(Profit)","AverageProfit")
avg_profit_df.show()

+------+-------------+
|Region|AverageProfit|
+------+-------------+
| South|       4000.0|
|  East|        150.0|
|  West|      -1500.0|
| North|       1800.0|
+------+-------------+

In [29]:
#6
from pyspark.sql.functions import col
df_spark=df_spark.withColumn("TotalPrice",col("Quantity")*col("UnitPrice"))
df_spark.select("OrderID","Quantity","UnitPrice","TotalPrice").show()

+-------+--------+---------+----------+
|OrderID|Quantity|UnitPrice|TotalPrice|
+-------+--------+---------+----------+
|CA-1001|       1|    55000|     55000|
|CA-1002|       2|    12000|     24000|
|CA-1003|       3|      200|       600|
|CA-1004|       1|    18000|     18000|
|CA-1005|       2|    20000|     40000|
+-------+--------+---------+----------+

In [30]:
#7
from pyspark.sql.functions import when
df_spark=df_spark.withColumn("ProfitCategory",
                             when(col("Profit")>2000,"High")
                             .when(col("Profit")<=0,"Loss")
                             .otherwise("Medium")
)
df_spark.select("OrderID","Profit","ProfitCategory").show()

+-------+------+--------------+
|OrderID|Profit|ProfitCategory|
+-------+------+--------------+
|CA-1001|  5000|          High|
|CA-1002|  1800|        Medium|
|CA-1003|   150|        Medium|
|CA-1004| -1500|          Loss|
|CA-1005|  3000|          High|
+-------+------+--------------+

In [31]:
#8
df_spark=df_spark.drop("SubCategory")
print(df_spark.columns)

['OrderID', 'OrderDate', 'Customer', 'Segment', 'Region', 'Product', 'Category', 'Quantity', 'UnitPrice', 'Discount', 'Profit', 'TotalPrice', 'ProfitCategory']

In [32]:
#9
df_spark=df_spark.fillna({"Discount":0.10})
df_spark.select("Discount").where(col("Discount").isNull()).show()

+--------+
|Discount|
+--------+
+--------+

In [33]:
#10
from pyspark.sql.functions import to_date,year,month
df_spark=df_spark.withColumn("OrderDate",to_date(col("OrderDate"),"yyyy-MM-dd"))
df_spark=df_spark.withColumn("OrderYear",year(col("OrderDate")))
df_spark=df_spark.withColumn("OrderMonth",month(col("OrderDate")))
df_spark.select("OrderID","OrderDate","OrderYear","OrderMonth").show()

+-------+----------+---------+----------+
|OrderID| OrderDate|OrderYear|OrderMonth|
+-------+----------+---------+----------+
|CA-1001|2023-01-15|     2023|         1|
|CA-1002|2023-02-20|     2023|         2|
|CA-1003|2023-01-25|     2023|         1|
|CA-1004|2023-03-01|     2023|         3|
|CA-1005|2023-02-05|     2023|         2|
+-------+----------+---------+----------+

In [34]:
#PART-3
!pip install dask

Requirement already satisfied: dask in /usr/local/lib/python3.11/dist-packages (2025.5.0)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.11/dist-packages (from dask) (8.2.1)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from dask) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.11/dist-packages (from dask) (2025.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from dask) (25.0)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from dask) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.11/dist-packages (from dask) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from dask) (0.12.1)
Requirement already satisfied: importlib_metadata>=4.13.0 in /usr/local/lib/python3.11/dist-packages (from dask) (8.7.0)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib_metadata>=4.13.0->dask) (3.23.0)
Requirement already satisfied: locket in /usr/local/lib/python3.11/dist-packages (from partd>=1.4.0->dask) (1.0.0)

In [35]:
import dask.dataframe as dd

# Load the superstore CSV into a Dask DataFrame
df_dask = dd.read_csv("superstore.csv")

# Show the first few rows
df_dask.head()

,OrderID,OrderDate,Customer,Segment,Region,Product,Category,SubCategory,Quantity,UnitPrice,Discount,Profit
0,CA-1001,2023-01-15,Ravi,Consumer,South,Laptop,Technology,Computers,1,55000,0.10,5000
1,CA-1002,2023-02-20,Priya,Corporate,North,Printer,Technology,Peripherals,2,12000,0.15,1800
2,CA-1003,2023-01-25,Amit,Consumer,East,Notebook,Office Supplies,Paper,3,200,0.05,150
3,CA-1004,2023-03-01,Anita,Home Office,West,Table,Furniture,Tables,1,18000,0.20,-1500
4,CA-1005,2023-02-05,Divya,Consumer,South,Phone,Technology,Phones,2,20000,0.00,3000

In [36]:
#1
avg_discount=df_dask.groupby("Category")["Discount"].mean()
print(avg_discount.compute())

Category
Furniture          0.200000
Office Supplies    0.050000
Technology         0.083333
Name: Discount, dtype: float64

In [37]:
#2
filtered_dask_df=df_dask[(df_dask["Quantity"]>1) & (df_dask["Profit"]>2000)]
print(filtered_dask_df.compute())

   OrderID   OrderDate Customer   Segment Region Product    Category  \
4  CA-1005  2023-02-05    Divya  Consumer  South   Phone  Technology

  SubCategory  Quantity  UnitPrice  Discount  Profit
4      Phones         2      20000       0.0    3000

In [40]:
#3
# Save the filtered DataFrame to a new CSV file
filtered_dask_df.to_csv("filtered_orders.csv", single_file=True, index=False)

print(" Filtered data saved as 'filtered_orders.csv'")

 Filtered data saved as 'filtered_orders.csv'

In [41]:
from google.colab import files
files.download("filtered_orders.csv")

In [42]:
#PART-4
#1
import json

# Sample nested data as given in your assignment
data = [
    {
        "OrderID": "CA-1001",
        "Customer": {"Name": "Ravi", "Segment": "Consumer"},
        "Details": {"Region": "South", "Profit": 5000}
    },
    {
        "OrderID": "CA-1002",
        "Customer": {"Name": "Priya", "Segment": "Corporate"},
        "Details": {"Region": "North", "Profit": 1800}
    }
]

# Save as a JSON file
with open("orders.json", "w") as f:
    json.dump(data, f, indent=4)

print(" orders.json file created!")

 orders.json file created!

In [43]:
#2
df_json = spark.read.option("multiline", True).json("orders.json")


df_json.printSchema()

df_json.select(
    "OrderID",
    "Customer.Name",
    "Customer.Segment",
    "Details.Region",
    "Details.Profit"
).show()

root
 |-- Customer: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Segment: string (nullable = true)
 |-- Details: struct (nullable = true)
 |    |-- Profit: long (nullable = true)
 |    |-- Region: string (nullable = true)
 |-- OrderID: string (nullable = true)

+-------+-----+---------+------+------+
|OrderID| Name|  Segment|Region|Profit|
+-------+-----+---------+------+------+
|CA-1001| Ravi| Consumer| South|  5000|
|CA-1002|Priya|Corporate| North|  1800|
+-------+-----+---------+------+------+