In [2]:
#Section-1
students = [
    ["Ravi", [85, 72, 90]],
    ["Sneha", [95, 88, 92]],
    ["Kabir", [65, 70, 60]],
    ["Anita", [75, 80, 78]]
]
#1
print("Ravis second mark:",students[0][1][1])

Ravis second mark: 72

In [3]:
#2
print("Average mark for each student:")
for student in students:
  name=student[0]
  marks=student[1]
  average=sum(marks)/len(marks)
  print(f"{name}'s average:{average:.2f}")

Average mark for each student:
Ravi's average:82.33
Sneha's average:91.67
Kabir's average:65.00
Anita's average:77.67

In [6]:
#3
print("Students who scored above 80 in all subjects:")
for student in students:
  name=student[0]
  marks=student[1]
  passed=True
  for mark in marks:
    if mark<=80:
      passed=False
      break
    if passed:
      print(name)

Students who scored above 80 in all subjects:
Ravi
Sneha
Sneha
Sneha

In [9]:
#4
name_avg_list=[]
for student in students:
  name=student[0]
  marks=student[1]
  average=sum(marks)/len(marks)
  name_avg_list.append((name,average))
print(name_avg_list )

[('Ravi', 82.33333333333333), ('Sneha', 91.66666666666667), ('Kabir', 65.0), ('Anita', 77.66666666666667)]

In [11]:
#Section-2
#1
data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}
product_list=[]
for i in range(len(data["products"])):
  product_dict={
      "name":data["products"][i],
      "prices":data["prices"][i],
      "ratings":data["ratings"][i]
  }
  product_list.append(product_dict)
  print(product_list)

[{'name': 'Mobile', 'prices': 12000, 'ratings': 4.5}]
[{'name': 'Mobile', 'prices': 12000, 'ratings': 4.5}, {'name': 'Laptop', 'prices': 55000, 'ratings': 4.7}]
[{'name': 'Mobile', 'prices': 12000, 'ratings': 4.5}, {'name': 'Laptop', 'prices': 55000, 'ratings': 4.7}, {'name': 'Tablet', 'prices': 18000, 'ratings': 4.0}]
[{'name': 'Mobile', 'prices': 12000, 'ratings': 4.5}, {'name': 'Laptop', 'prices': 55000, 'ratings': 4.7}, {'name': 'Tablet', 'prices': 18000, 'ratings': 4.0}, {'name': 'Camera', 'prices': 25000, 'ratings': 4.2}]

In [16]:
#2
print("Products with price > 20000 and rating >= 4.5:")
for product in product_list:
    if product["prices"] > 20000 and product["ratings"] >= 4.5:
        print(product)

Products with price > 20000 and rating >= 4.5:
{'name': 'Laptop', 'prices': 55000, 'ratings': 4.7}

In [18]:
#3
def get_rating(product):
  return product["ratings"]
sorted_products=sorted(product_list,key=get_rating,reverse=True)
print("Sorted products based on ratings:")
for product in sorted_products:
  print(product)

Sorted products based on ratings:
{'name': 'Laptop', 'prices': 55000, 'ratings': 4.7}
{'name': 'Mobile', 'prices': 12000, 'ratings': 4.5}
{'name': 'Camera', 'prices': 25000, 'ratings': 4.2}
{'name': 'Tablet', 'prices': 18000, 'ratings': 4.0}

In [26]:
#Section-3
#1
text = "ai is the future and ai will change everything in the ai world"
words=text.split()
freq={}
for word in words:
  if word in freq:
    freq[word]+=1
  else:
    freq[word]=1

  print(freq)
#2
print("Words that appear more than once:")
for word,count in freq.items():
  if count > 1:
    print(f"{word}->{count}")

{'ai': 1}
{'ai': 1, 'is': 1}
{'ai': 1, 'is': 1, 'the': 1}
{'ai': 1, 'is': 1, 'the': 1, 'future': 1}
{'ai': 1, 'is': 1, 'the': 1, 'future': 1, 'and': 1}
{'ai': 2, 'is': 1, 'the': 1, 'future': 1, 'and': 1}
{'ai': 2, 'is': 1, 'the': 1, 'future': 1, 'and': 1, 'will': 1}
{'ai': 2, 'is': 1, 'the': 1, 'future': 1, 'and': 1, 'will': 1, 'change': 1}
{'ai': 2, 'is': 1, 'the': 1, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1}
{'ai': 2, 'is': 1, 'the': 1, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1}
{'ai': 2, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1}
{'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1}
{'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}
Words that appear more than once:
ai->3
the->2

In [27]:
#3
text = "ai is the future and ai will change everything in the ai world"
words=text.split()
unique_words=set(words)
sorted_words=sorted(unique_words)
print("Sorted unique words:")
print(sorted_words)

Sorted unique words:
['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

In [28]:
#4
text = "ai is the future and ai will change everything in the ai world"
set1 = set(text.split())
set2 = {"ai", "ml", "data", "future"}
common_words=set1.intersection(set2)
print("Commonn words between set1 and set2:")
print(common_words)

Commonn words between set1 and set2:
{'future', 'ai'}

In [31]:
#Section-4
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}
#1
bonus_sales={}
for name,amount in sales.items():
  bonus=amount*0.10
  total=amount+bonus
  bonus_sales[name]=total
print(bonus_sales)

{'Amit': 77000.0, 'Sneha': 49500.0, 'Ravi': 33000.0, 'Anita': 99000.0, 'Kabir': 22000.0}

In [33]:
#2
high_sales={}
for name,amount in sales.items():
  if amount > 50000:
    high_sales[name]=amount
print("People with sales > 50,000:")
print(high_sales)

People with sales > 50,000:
{'Amit': 70000, 'Anita': 90000}

In [34]:
#3
sales_labels={}
for name,amount in sales.items():
  if amount >=75000:
    label="High"
  elif amount >=40000:
    label="Medium"
  else:
    label="Low"
  sales_labels[name]=label
print("Sales labels:")
print(sales_labels)

Sales labels:
{'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

In [35]:
#Section-5
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)
#1
student_scores=dict(zip(names,marks))
print(student_scores)

{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

In [36]:
#2
marks = (88, 92, 76)
minimum = min(marks)
maximum = max(marks)
print("Minimum mark:", minimum)
print("Maximum mark:", maximum)

Minimum mark: 76
Maximum mark: 92

In [37]:
#3
marks = (88, 92, 76)
marks_set = set(marks)
marks_set.add(85)

print("Set of marks after adding new value:")
print(marks_set)

Set of marks after adding new value:
{88, 92, 85, 76}

In [38]:
#4
set1 = {88, 92, 76}
set2 = {85, 92, 90}

merged_set = set1.union(set2)

print("Merged set with unique elements:")
print(merged_set)

Merged set with unique elements:
{85, 88, 90, 92, 76}